aside {

    float: left;
    background: #ffffff; /* белый фон */
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #000000; /* чёрный текст */
    border-right: 1px solid #ddd; /* светлая граница справа */
}
img {
    width: 200px;
    height: 200px;
}
aside h3 {
    margin-top: 50px;
    font-size: 28px;
}


aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


aside ul li {
    color: #000;
    display: block;
    margin-top: 20px;
    transition: all .6s;
}

aside ul li:hover,
aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

